<div class="card" style="width: 375px;">
  <div class="card-body">
    <h2 class="card-title"><%= @party.name %></h2>

      <div class="content">
      <h3><%= @party.name %>
      <h3><%= @party.playlist %></h3>
      <h3><%= @party.recipe %></h3>
      <h3><%= @party.pinterest %></h3>
      <h3><%= @party.game %></h3>

      <p><%= @party.description %></p>

      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top" alt="card-img">
      </div>

      <a href="#" class="main-button ">Select Party</a>
      <a href="#" class="second-button">Back</a>
   </div>
</div>

