<div class="container-main mx-auto" style="height: 812px; width: 375px;">
    <div class="text-center">
    <div class="text-center" style="padding-top:10px">
        <h2 class="Title"><strong> <%= @party.name %></strong></h2>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container rounded-5">
                    <div class="card mx-auto rounded-4 border-0 shadow-lg mt-5 mb-5" style="width: 327px;">
                        <div class="card-body" style="height:685px">
                            <div class="card-body-info" style="padding-top:10px">
                                <h4 class="card-title mt-3 mb-4">Playlist 🥳 </h4>
                                <p class="card-subtitle mb-4 text-muted"></p>
                            </div>
                            <div style="mt-3; height:500px"> <%= @party.playlist.html_safe %> </div>
                            <%# <div id="embed-iframe" style="mt-3; height:352px; background-color:rgb(24,56,112)"> %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container rounded-5">
                    <div class="card mx-auto rounded-4 border-0 shadow-lg mt-5 mb-5" style="width: 327px;">
                        <div class="card-body" style="height:685px">
                            <div class="card-body-info">
                                <h2 class="card-title mt-2 mb-4">Recipe 🌮 🌯 </h2>
                                <ul style="list-style-type: none; color:#6C757D ">
                                    <li style="mb-2"><span> <%= @party.recipe %></span></li>
                                </ul>
                            </div>
                            <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top mt-3 rounded-4 shadow" style="height: 353px;"> %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container rounded-5">
                    <div class="card mx-auto rounded-4 border-0 shadow-lg mt-5 mb-5" style="width: 327px;">
                        <div class="card-body" style="height:685px">
                            <h4 class="card-title mt-2 mb-4">Game 🍺</h4>
                            <div class="card-body-info">
                                <p class="card-subtitle text-muted"><%= @party.game %></p>
                            </div>
                            <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top mt-3 rounded-4 shadow" style="height: 353px;"> %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
                <div class="container rounded-5">
                    <div class="card mx-auto rounded-4 border-0 shadow-lg mt-5 mb-5" style="width: 327px;">
                        <div class="card-body" style="height:685px">
                            <div class="card-body-info">
                                <h2 class="card-title mt-2 mb-4">Mood Board</h2>
                                <ul style="list-style-type: none; color:#6C757D ">
                                  <%= @party.pinterest.html_safe %>
                                </ul>
                            </div>
                            <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top mt-3 rounded-4 shadow" style="height: 353px;"> %>
                        </div>
                    </div>
                </div>
            </div>
        <div class="button" style="position: absolute; bottom: 0; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
           <a href="#" class="main-button">Select Party</a>
          <a href="/parties" class="second-button">Back</a>
        </div>
      </div>

    </div>

    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>

<%# <script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
<script>
window.onSpotifyIframeApiReady = (IFrameAPI) => {
  let element = document.getElementById('embed-iframe');
  let options = {
      uri: 'spotify:episode:7makk4oTQel546B0PZlDM5'
    };
  let callback = (EmbedController) => {};
  IFrameAPI.createController(element, options, callback);
};
</script> %>


<%# source - @parties.playlist %>
