<div class="container">
  <h1>Your <%= @booking.party.name%></h1>
  <%= @booking.party.description %>

  <div class="container">
    <div class="row">
      <div class="date_card">
        <div class="date_details">
          <%# it would need logic for st, th, rd 😱 %>
          <p> Your party will start on the <strong><%= @booking.starts_at.strftime("%B")%> <%= @booking.starts_at.day %>th, <%= @booking.starts_at.year %></strong> and finish on the <strong><%= @booking.ends_at.strftime("%B")%> <%= @booking.ends_at.day %>th, <%= @booking.ends_at.year %></strong>.</p>
        </div>
      </div>
    </div>
  </div>


  <p>Your <%= @booking.party.name%> will be at <%= @booking.address%>.</p>
  <%= link_to 'Add to Calendar', icalendar_booking_path(@booking, format: :ics), class: 'main-button' %>

</div>
