<div class="container">
  <h1>Booking#show</h1>
  <p>This page will have:</p>
  <ol>
    <li>booking details specific to that booking, incl. dates, map with location</li>
    <li>possibility to edit (update), delete </li>
    <li>view more details</li>
    <li>details about the party theme itself</li>
  </ol>
  <br>
  <h1>Your <%= @booking.party.name%></h1>
  <p>Your <%= @booking.party.name%> will be at <%= @booking.address%>.</p>

  <%# it would need logic for st, th, rd 😱 %>
  <p> Your party will start on the <strong><%= @booking.starts_at.strftime("%B")%> <%= @booking.starts_at.day %>th, <%= @booking.starts_at.year %></strong> and finish on the <strong><%= @booking.ends_at.strftime("%B")%> <%= @booking.ends_at.day %>th, <%= @booking.ends_at.year %></strong>.</p>
  <br>
  <%= link_to 'Add to Calendar', icalendar_booking_path(@booking, format: :ics), class: 'main-button' %>

  <%# ---------------- WHATSAPP SHARE BUTTON ---------------- %>
  <div class="main-button">
    <%= link_to "whatsapp://send?text=I'm hosting a #{@booking.party.name} 🥳 Join me: gathergo.party/bookings/#{@booking.id}", {} do %>
      <i class="fa-solid fa-arrow-up-from-bracket" style="color: white;"></i>
    <% end %>
  </div>
</div>
<%# <i class="fa-solid fa-arrow-up-from-bracket"></i> %>
